{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block logo %}
	{% spaceless %}
		<a class="logo" href="{{ path('sonata_admin_dashboard') }}">
			{% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
				<img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}" style="max-width:150px !important;">
			{% endif %}
			{% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
				<!--<span>{{ sonata_admin.adminPool.title }}</span>-->
			{% endif %}
		</a>
	{% endspaceless %}
{% endblock %}


{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}
                
{% block side_bar_after_nav_content %}

<p style="color: #b8c7ce; font-size:0.9em; text-align:center;">
Connecté en tant que <b>{{ app.user.username }}</b><br><br>
<i><a href="{{ url('fos_user_security_logout') }}">Déconnexion</a></i>
</p>
{% endblock %}