
{% extends 'base_document.html.twig' %}
  
{% block body_document %}	
	<h1>{% trans %}Search{% endtrans %} > "{{search_field}}"</h1>
	<!--Rating Box-->
	<div class="rating-box">
		<p>{{ pagination.getTotalItemCount }} résultat(s)</b></p>	
		<div class="inner" style="padding:40px 10px !important;">							
			<ul class="raing-info">
			{% for article in pagination %}
				<li class="clearfix">
					<a href="{{ url('document', { 'slug': article.slug}) }}">{{ article.titre }}</a>
					{% for file in article.documentfiles %}
						<a href="#" title="{{file.titre}}"><span class="fa fa-file"></span></a>
					{% endfor %}
					<!--<span class="pull-right">-->
					<br>{{ article.date|localizeddate('short', 'none') }} - {{ article.documentType }}
					<!--</span>-->
				</li>
			{% endfor %}
			</ul>
			
			<div class="navigation">
				{{ knp_pagination_render(pagination) }}
			</div>
		</div>
	</div>								
{% endblock %}

{% block menu_document %}
	{{ render(controller("App\\Controller\\DocumentTypeController::blockDocType")) }}
	{{ render(controller("App\\Controller\\DocumentController::LastCP")) }}	
{% endblock %}
